@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";
*{
  font-family: "Science Gothic", sans-serif;
}

@layer base{
  button{
    @apply cursor-pointer
  }
}